<template>
  <div class="container mb-5">
    <h1 class="display-4 mt-5">coordinate-formats.js</h1>
    <p class="lead">A library for parsing and formatting coordinates.</p>
    <b-form @submit.prevent="parseString">
      <b-input-group>
        <b-form-input v-model="parsingQuery"></b-form-input>
        <template v-slot:append>
          <b-button type="submit" variant="primary">Go!</b-button>
        </template>
      </b-input-group>
    </b-form>
    <b-list-group v-if="errors !== null">
      <b-list-group-item
        v-for="error in errors"
        :key="error.key"
        variant="danger"
      >
        {{ error.message }}
      </b-list-group-item>
    </b-list-group>
    <b-card class="mt-3" no-body>
      <b-tabs lazy card>
        <b-tab v-if="errors === null" title="Formats & Map">
          <div class="row">
            <div class="col-sm-4">
              <FormattedString
                label="Decimal Degrees"
                input-name="DD"
                :value="formattedDD"
              />
              <FormattedString
                label="Degrees Minutes"
                input-name="DM"
                :value="formattedDM"
              />
              <FormattedString
                label="Degrees Minutes Seconds"
                input-name="DMS"
                :value="formattedDMS"
              />
              <hr />
              <strong>Formatting options:</strong>
              <b-form-checkbox
                v-model="formattingOptions.useCardinalDirections"
                class="mt-2"
              >
                Use cardinal points
              </b-form-checkbox>
              <b-input-group prepend="Round to (decimals)" class="mt-2">
                <b-form-input
                  v-model="formattingOptions.decimalPlaces"
                  type="number"
                  max="100"
                  min="1"
                />
              </b-input-group>
            </div>
            <div class="col-sm-8">
              <Map
                :zoom="zoom"
                :leaflet-lat-lng="leafletLatLng"
                :lat-lon="latLon"
                :formatting-options="formattingOptions"
                @update-query="updateQuery"
              />
            </div>
          </div>
        </b-tab>
        <b-tab title="Details">
          <ParsingDetails :parsing-details="parsingDetails" />
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import Map from './components/Map.vue'
import ParsingDetails from './components/ParsingDetails.vue'
import FormattedString from './components/FormattedString.vue'
import {
  parseCoordinates,
  formatCoordinates,
  COORDINATE_FORMATS,
} from '../../lib'
import { LatLon, CoordinatesFormat } from '../../lib/types'

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import { ValidationErrors } from '../../src/types'

function randomlatLonString() {
  const randomCoordinate = () =>
    (Math.random() * 85 * (Math.random() > 0.5 ? 1 : -1)).toFixed(2)
  return randomCoordinate() + ', ' + randomCoordinate()
}

@Component({ components: { Map, ParsingDetails, FormattedString } })
export default class App extends Vue {
  readonly parsingFormats = [
    { value: null, text: 'Guess Format' },
    { value: COORDINATE_FORMATS.DD, text: 'Decimal Degrees (DD)' },
    {
      value: COORDINATE_FORMATS.DMS,
      text: 'Degrees Minutes Seconds (DMS)',
    },
    { value: COORDINATE_FORMATS.DM, text: 'Degrees Minutes (DM)' },
  ]

  errors: ValidationErrors | null = null
  parsingFormat = this.parsingFormats[0].value
  parsingQuery = randomlatLonString()
  latLon: LatLon | null = null
  parsingDetails: any | null = null
  zoom = 3
  formattingOptions = {
    useCardinalDirections: false,
    decimalPlaces: 2,
  }

  get formattedDD() {
    return this.getFormattedString(
      this.latLon,
      COORDINATE_FORMATS.DD,
      this.formattingOptions
    )
  }

  get formattedDM() {
    return this.getFormattedString(
      this.latLon,
      COORDINATE_FORMATS.DM,
      this.formattingOptions
    )
  }

  get formattedDMS() {
    return this.getFormattedString(
      this.latLon,
      COORDINATE_FORMATS.DMS,
      this.formattingOptions
    )
  }

  get leafletLatLng() {
    const lat = this.latLon ? this.latLon.latitude : 0
    const lng = this.latLon ? this.latLon.longitude : 0
    return [lat, lng]
  }

  mounted() {
    this.parseString()
  }

  parseString() {
    const parsingResult = parseCoordinates(this.parsingQuery)

    if (parsingResult.data) {
      this.errors = null
      this.latLon = parsingResult.data.latLon
    } else {
      this.errors = parsingResult.errors
    }

    this.parsingDetails = parsingResult
  }

  getFormattedString(
    latLon: LatLon | null,
    format: CoordinatesFormat,
    options: object
  ): string {
    return latLon
      ? formatCoordinates(latLon, Object.assign({ format }, options))
      : ''
  }

  updateQuery(parsingQuery: string) {
    this.parsingQuery = parsingQuery
    this.parseString()
  }
}
</script>
