<template>
  <b-form-group :label="label" :label-for="inputName">
    <b-input-group>
      <b-form-input ref="input" :value="value" readonly :name="inputName" />
      <template v-slot:append>
        <b-button @click="onClick" variant="primary">
          <font-awesome-icon :icon="['far', 'copy']" />
        </b-button>
      </template>
    </b-input-group>
  </b-form-group>
</template>

<script lang="ts">
import { Vue, Component, Prop, Ref } from 'vue-property-decorator'

@Component({})
export default class FormattedString extends Vue {
  @Prop({ required: true, type: String })
  readonly label!: string

  @Prop({ required: true, type: String })
  readonly inputName!: string

  @Prop({ required: true, type: String })
  readonly value!: string

  @Ref()
  readonly input!: HTMLInputElement

  onClick() {
    this.input.select()
    document.execCommand('copy')
    this.$bvToast.toast(
      `«${this.input.value}» has been copied to your Clipboard!`,
      {
        variant: 'primary',
        solid: true,
        autoHideDelay: 3000,
      }
    )
  }
}
</script>
