<template>
  <LMap
    :style="{ height: '500px' }"
    :min-zoom="minZoom"
    :zoom="zoom"
    :center="leafletLatLng"
  >
    <LTileLayer
      url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
    ></LTileLayer>
    <LMarker
      :lat-lng="leafletLatLng"
      :draggable="true"
      @dragend="onMarkerDragend"
    />
    <LPolyline
      :lat-lngs="[
        [-85, 0],
        [85, 0],
      ]"
      color="grey"
      dash-array="5"
      :weight="1"
    >
      <LPopup>
        <a
          href="https://en.wikipedia.org/wiki/Prime_meridian"
          target="_blank"
          noopener
          noreferrer
        >
          Prime Meridian
        </a>
      </LPopup>
    </LPolyline>
    <LPolyline
      :lat-lngs="[
        [0, -1000],
        [0, 1000],
      ]"
      color="grey"
      dash-array="5"
      :weight="1"
    >
      <LPopup>
        <a
          href="https://en.wikipedia.org/wiki/Equator"
          target="_blank"
          noopener
          noreferrer
        >
          Equator
        </a>
      </LPopup>
    </LPolyline>
    <LPolyline
      v-if="latLon"
      :lat-lngs="[
        [0, latLon.longitude],
        [latLon.latitude, latLon.longitude],
      ]"
    >
      <LTooltip :options="{ permanent: false }">
        Latitude: {{ latLon.latitude }}
      </LTooltip>
    </LPolyline>
    <LPolyline
      v-if="latLon"
      :lat-lngs="[
        [latLon.latitude, 0],
        [latLon.latitude, latLon.longitude],
      ]"
    >
      <LTooltip
        :options="{
          direction: latLon.latitude >= 0 ? 'top' : 'bottom',
          permanent: false,
        }"
      >
        Longitude: {{ latLon.longitude }}
      </LTooltip>
    </LPolyline>
  </LMap>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { Icon } from 'leaflet'
import {
  LMap,
  LTileLayer,
  LMarker,
  LPolyline,
  LPopup,
  LTooltip,
} from 'vue2-leaflet'

import iconUrl from 'leaflet/dist/images/marker-icon.png'
import iconRetinaUrl from 'leaflet/dist/images/marker-icon-2x.png'
import shadowUrl from 'leaflet/dist/images/marker-shadow.png'
import { formatCoordinates, COORDINATE_FORMATS } from '../../../lib'
import { LatLon } from '../../../lib/types'

import 'leaflet/dist/leaflet.css'

type D = Icon.Default & {
  _getIconUrl: string
  // eslint-disable-next-line
};

delete (Icon.Default.prototype as D)._getIconUrl
Icon.Default.mergeOptions({
  iconRetinaUrl,
  iconUrl,
  shadowUrl,
})

@Component({
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPolyline,
    LPopup,
    LTooltip,
  },
})
export default class Map extends Vue {
  @Prop({ required: true, type: Number })
  readonly zoom!: number

  @Prop({ required: true, type: Array })
  readonly leafletLatLng!: number[]

  @Prop({ required: true, type: Object })
  readonly latLon!: LatLon

  @Prop({ required: true, type: Object })
  readonly formattingOptions!: object

  readonly minZoom = 2

  onMarkerDragend(event: L.DragEndEvent) {
    const latLng = event.target.getLatLng()
    this.$emit(
      'update-query',
      formatCoordinates(
        { latitude: latLng.lat, longitude: latLng.lng },
        Object.assign(
          {
            format: COORDINATE_FORMATS.DD,
          },
          this.formattingOptions
        )
      )
    )
  }
}
</script>
