<template>
  <pre class="p-3 language-js"><code v-html="highlightedParsingDetails" /></pre>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import Prism from 'prismjs'

import 'prismjs/themes/prism-twilight.css'

@Component({})
export default class ParsingDetails extends Vue {
  @Prop({ required: true, type: Object })
  parsingDetails!: any

  get highlightedParsingDetails() {
    return Prism.highlight(
      JSON.stringify(this.parsingDetails, null, 2),
      Prism.languages.javascript,
      'javascript'
    )
  }
}
</script>
